input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #ff1616;
    cursor: pointer;
  }
  
  input[type=range]::-moz-range-thumb {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #ff1616;
    cursor: pointer;
  }